* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.zip binary
*.docx binary
*.xlsx binary
*.pptx binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.mp4 binary
